Repository FlorianMF/template-repo-python, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, REPONAME, docs, requirements, examples, github, circle-ci, README

use versionner
  REPONAME/__init__.py
Labels: REPONAME

update pre-commit conf and run on files
  .github/workflows/code_formatting.yml
  .github/workflows/docs_check_test_build.yml
  .pre-commit-config.yaml
  REPONAME/_version.py
  REPONAME/setup_tools.py
  docs/source/conf.py
  pyproject.toml
  scripts/configure.py
  setup.cfg
  setup.py
  versioneer.py
Labels: repo, REPONAME, docs

update setup.py
  setup.py
Labels: repo

update '.update.sh' file
  .update.sh
Labels: repo

add .yapfignore file
  .yapfignore
Labels: repo

update setup files *got ref to git projects in requirement files working * handle #egg in load_requirements *update package infos in __init__.py
  REPONAME/__init__.py
  REPONAME/setup_tools.py
  requirements/docs.txt
  setup.py
Labels: repo, REPONAME, requirements

rename PACKAGENAME to PACKAGE_NAME
  .circleci/config.yml
  .github/BECOMING_A_CORE_CONTRIBUTOR.md
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/workflows/install_pkg.yml
  README.md
  dockers/conda/Dockerfile
  docs/source/_templates/theme_variables.jinja
  docs/source/_templates_stable/theme_variables.jinja
  docs/source/conf.py
  docs/source/getting_started.rst
  docs/source/index.rst
  scripts/configure.py
  setup.py
Labels: repo, docs, github, circle-ci, README

remove duplicate function
  REPONAME/setup_tools.py
Labels: REPONAME

update pre-commit config
  .pre-commit-config.yaml
Labels: repo

update setup.cfg
  setup.cfg
Labels: repo

update workflow file
  .github/workflows/notebook_tests_linux.yml
Labels: none

empty license fil
  LICENSE
Labels: repo

update requirements fies
  requirements/docs.txt
  requirements/extra.txt
Labels: requirements

add __package_name__ to __init__.py
  REPONAME/__init__.py
  setup.py
Labels: repo, REPONAME

.github/labeler.yml:

# Took from https://github.com/marketplace/actions/labeler

# These labels do not have to already exist in the list of labels in your GitHub repo.
# They will be created automatically.

# Add 'repo' label to any root file changes
repo:
  - ./*

# # Add '@domain/core' label to any change within the 'core' package
# @domain/core:
#   - package/core/*
#   - package/core/**/*

# Add 'test' label to any change to the test files
test:
  - tests/*

# Add 'REPONAME' label to any change inside the repo dir
REPONAME:
- any: ['REPONAME/**/*', '!REPONAME/docs/*']

# Add docs label to any change to doc files
docs:
- docs/**/*

# Add requirements label to any change to requirements files
requirements:
- requirements/*

# Add examples label to any change to examples files
examples:
- examples/*

# Add github label to any change to github files
github:
- .github/*

# Add circle-ci label to any change to circle-ci yml files
circle-ci:
- .circleci/*

README:
- README.md
